## Environment ##
NODE_ENV=development


## Server ##
PORT=3000
HOST=localhost


## Setup jet-logger ##
JET_LOGGER_MODE=console
JET_LOGGER_FILEPATH=jet-logger.log
JET_LOGGER_TIMESTAMP=true
JET_LOGGER_FORMAT=line

OPEN_ROUTER_A_P_I_KEY=<KEY>
OPEN_ROUTER_MODEL=<MODEL>
DATABASE_URL=<URL>
JWT_SECRET=<SECRET>
FRONTEND_URL=http://localhost:3000
STORAGE_DIR=./files
